<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NewAssets/flagBlue.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 169}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
		<key>NewAssets/flagBlue2.png</key>
		<dict>
			<key>frame</key>
			<string>{{361, 73}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
		<key>NewAssets/p2_walk01.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 1}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk02.png</key>
		<dict>
			<key>frame</key>
			<string>{{73, 97}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk03.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 73}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk04.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 97}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk05.png</key>
		<dict>
			<key>frame</key>
			<string>{{73, 1}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk06.png</key>
		<dict>
			<key>frame</key>
			<string>{{385, 1}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk07.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 1}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 97}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk09.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 1}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/p2_walk11.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 97}, {70, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 94}}</string>
			<key>sourceSize</key>
			<string>{70, 94}</string>
		</dict>
		<key>NewAssets/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 73}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>textureFileName</key>
		<string>NewAssets.png</string>
	</dict>
</dict>
</plist>
